{% extends 'base.html.twig' %}

{% block title %}Registration Form{% endblock %}

{% block css %}
    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="{{ asset('fonts2/material-design-iconic-font/css/material-design-iconic-font.min.css') }}">
    <!-- STYLE CSS -->
    <link href="{{ asset('css2/style.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="wrapper" style="background-image: url('{{ asset('images2/imagett.jpg') }}');">
        <div class="inner">
            <div class="image-holder">
                <img src="{{ asset('images2/agence.png') }}" alt="Logo" class="logo">
                <div class="already-have-account">
                    <a href="{{ path('app_login') }}" class="login-link">Vous avez un compte ?</a>
                </div>
            </div>

            {{ form_start(registrationForm, {
                'attr': {
                    'class': 'form-horizontal',
                    'novalidate': 'novalidate'
                }
            }) }}

            {# Affichage des erreurs globales #}
            {% if registrationForm.vars.errors|length > 0 %}
                <div class="alert alert-danger">
                    {{ form_errors(registrationForm) }}
                </div>
            {% endif %}

            <h3 class="form-title">Registration Form</h3>

            <div class="form-group">
                {{ form_widget(registrationForm.name, {
                    'attr': {
                        'placeholder': 'First Name',
                        'class': 'form-control'
                    }
                }) }}
                {{ form_errors(registrationForm.name) }}  {# Affichage des erreurs spécifiques du champ "name" #}

                {{ form_widget(registrationForm.last_name, {
                    'attr': {
                        'placeholder': 'Last Name',
                        'class': 'form-control'
                    }
                }) }}
                {{ form_errors(registrationForm.last_name) }}  {# Affichage des erreurs spécifiques du champ "last_name" #}
            </div>

            <div class="form-wrapper">
                {{ form_widget(registrationForm.email, {
                    'attr': {
                        'placeholder': 'Email Address',
                        'class': 'form-control'
                    }
                }) }}
                <i class="zmdi zmdi-email input-icon"></i>
                {{ form_errors(registrationForm.email) }} {# Affichage des erreurs pour l'email #}
            </div>

            {# Champ mot de passe avec RepeatedType #}
            <div class="form-wrapper">
                {{ form_widget(registrationForm.plainPassword.first, {
                    'attr': {
                        'placeholder': 'Password',
                        'class': 'form-control password-input',
                        'autocomplete': 'new-password'
                    }
                }) }}
                <i class="zmdi zmdi-lock input-icon"></i>
                {{ form_errors(registrationForm.plainPassword.first) }} {# Affichage des erreurs pour le premier champ mot de passe #}
            </div>

            <div class="form-wrapper">
                {{ form_widget(registrationForm.plainPassword.second, {
                    'attr': {
                        'placeholder': 'Confirm Password',
                        'class': 'form-control password-input'
                    }
                }) }}
                <i class="zmdi zmdi-lock input-icon"></i>
                {{ form_errors(registrationForm.plainPassword.second) }} {# Affichage des erreurs pour le deuxième champ mot de passe #}
            </div>

            <div class="form-wrapper">
                {{ form_widget(registrationForm.phone_num, {
                    'attr': {
                        'placeholder': 'Phone Number',
                        'class': 'form-control'
                    }
                }) }}
                <i class="zmdi zmdi-phone input-icon"></i>
                {{ form_errors(registrationForm.phone_num) }} {# Affichage des erreurs pour le numéro de téléphone #}
            </div>

            <div class="form-wrapper">
                {{ form_widget(registrationForm.address, {
                    'attr': {
                        'class': 'form-control select-control'
                    }
                }) }}
                <i class="zmdi zmdi-caret-down select-icon" style="font-size: 17px"></i>
                {{ form_errors(registrationForm.address) }} {# Affichage des erreurs pour l'adresse #}
            </div>

            <div class="social-buttons">
                <div class="row button-row">
                    <div>
                        <button type="button" class="round-button" aria-label="Sign up with Google">
                            <img src="{{ asset('images2/google.svg') }}" alt="Google" class="social-icon">
                        </button>
                    </div>
                    <div>
                        <button type="button" class="round-button" aria-label="Sign up with Facebook">
                            <img src="{{ asset('images2/facebook.svg') }}" alt="Facebook" class="social-icon">
                        </button>
                    </div>
                    <div>
                        <button type="button" class="round-button" aria-label="Sign up with Twitter">
                            <img src="{{ asset('images2/twitter.svg') }}" alt="Twitter" class="social-icon">
                        </button>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-submit">
                Register
                <i class="zmdi zmdi-arrow-right submit-icon"></i>
            </button>

            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
