<div id="comment-{{ comment.commentId }}" class="mb-2 bg-gray-100 p-4 rounded-lg">
    <span class="font-semibold text-gray-800">{{ comment.name ~ ' ' ~ comment.lastName }}</span>
    <twig:CommentText
        commentId="{{ comment.commentId }}"
        comment="{{ comment.comment }}"
    />
    
    <form
        hx-post="{{ path('comment_edit', {'id': comment.commentId}) }}"
        hx-target="#commentText-{{ comment.commentId }}"
        hx-swap="outerHTML"
        id="editCommentForm-{{ comment.commentId }}"
        style="display: none"
        class="mt-2"
    >
        <textarea
            name="editTextarea-{{ comment.commentId }}"
            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none"
        >{{ comment.comment }}</textarea>
        <div class="flex justify-end mt-2">
            <button
                type="submit"
                class="p-2 w-10 h-10 bg-blue-600 text-white rounded-full shadow hover:bg-blue-700 transition-all cursor-pointer flex items-center justify-center"
                title="Save changes"
            >
                <i class="fa fa-check"></i>
            </button>
        </div>
    </form>
    
    <div class="flex justify-end items-center space-x-3 mt-2">
        <button
            id="editCommentButton-{{ comment.commentId }}"
            class="p-2 w-10 h-10 bg-green-500 hover:bg-green-700 text-white rounded-full shadow transition-all cursor-pointer flex items-center justify-center"
            onclick="editComment('{{ comment.commentId }}')"
            title="Edit comment"
        >
            <i class="fa fa-edit"></i>
        </button>
        
        <form
            hx-post="{{ path('comment_delete', {'id': comment.commentId}) }}"
            hx-target="#comment-{{ comment.commentId }}"
            hx-swap="outerHTML"
            onsubmit="return confirm('Are you sure you want to delete this comment?');"
            class="inline-block"
        >
            <button
                type="submit"
                class="p-2 w-10 h-10 bg-red-500 hover:bg-red-700 text-white rounded-full shadow transition-all cursor-pointer flex items-center justify-center"
                title="Delete comment"
            >
                <i class="fa fa-trash"></i>
            </button>
        </form>
    </div>
</div>