<div id="likeContainer-{{ postId }}" class="">
	<form hx-post="{{ path('app_forum_like') }}" hx-target="#likeContainer-{{ postId }}" hx-swap="outerHTML" class="">
		<input type="hidden" name="postId" value="{{ postId }}" />
		<button
			type="submit"
			class="{% if not isLiked %} bg-blue-600 hover:bg-blue-700 {% else %} bg-red-600 hover:bg-red-700 {% endif %} text-white font-medium py-2 px-4 rounded-lg shadow"
			title="{% if isLiked %}Unlike{% else %}Like{% endif %} this post"
		>
			<i class="fas {% if isLiked %}fa-thumbs-down{% else %}fa-thumbs-up{% endif %}"></i>&nbsp;{{ likesCount }}
		</button>
	</form>
</div>
