<button
	id="likeButton-{{ postId }}"
	class="cursor-pointer mt-2 px-4 py-2 {% if isLiked %}bg-red-600 hover:bg-red-700{% else %}bg-blue-600 hover:bg-blue-700{% endif %} text-white font-semibold rounded-md shadow transition-all"
	hx-post="/forum/like"
	hx-target="#likeButton-{{ postId }}"
	hx-swap="outerHTML"
	hx-vals='{"postId": "{{ postId }}"}'
>
	<span id="likesCounter-{{ postId }}">{{ likesCount }}</span>
</button>
