<div id="postContent-{{ postId }}" class="card mb-3" style="max-height: 500px; overflow-y: auto">
	<div class="card-body">
		<a
			href="{{ path('app_forum_post_by_slug', {'slug': slug }) }}"
			id="postTitle-{{ postId }}"
			class="h5 fw-bold text-truncate text-decoration-none"
		>
			{{ postTitle|markdown }}
		</a>
		<div id="postText-{{ postId }}" class="small">
			<p>{{ textContent|markdown }}</p>
		</div>
	</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', () => {
	    const postId = {{ postId }};
	    const elements = {
	        editForm: document.getElementById(`editPostForm-${postId}`),
	        editButton: document.getElementById(`editButton-${postId}`)
	    };

	    if (elements.editForm) elements.editForm.style.display = "none";
	    if (elements.editButton) elements.editButton.style.display = "inline-flex";
	});

	(function() {
	    const postId = {{ postId }};
	    const elements = {
	        editForm: document.getElementById(`editPostForm-${postId}`),
	        editButton: document.getElementById(`editButton-${postId}`),
	    };

	    if (elements.editForm) elements.editForm.style.display = "none";
	    if (elements.editButton) elements.editButton.style.display = "inline-flex";
	})();
</script>
