<div id="postContent-{{ postId }}" class="bg-white shadow-md rounded-lg p-4 mb-4">
	<h2 id="postTitle-{{ postId }}" class="text-lg font-bold">{{ postTitle|markdown }}</h2>
	<div id="postText-{{ postId }}">
		<p class="text-gray-800">{{ textContent|markdown }}</p>
	</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const postId = {{ postId }};
		const elements = {
			editForm: document.getElementById(`editPostForm-${postId}`),
			editButton: document.getElementById(`editButton-${postId}`)
		};

		if (elements.editForm) elements.editForm.style.display = "none";
		if (elements.editButton) elements.editButton.style.display = "inline-flex";
	});

	(function() {
		const postId = {{ postId }};
		const elements = {
			editForm: document.getElementById(`editPostForm-${postId}`),
			editButton: document.getElementById(`editButton-${postId}`),
		};

		if (elements.editForm) elements.editForm.style.display = "none";
		if (elements.editButton) elements.editButton.style.display = "inline-flex";
	})();
</script>
